.navbar {
  background-color: white;
  box-shadow: none;
  align-content: center;
  height: 92px;
  top: 44px;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-top: 10px;
  margin-left: 250px;
  margin-right: 50px;
  fill: blue;
}

.container {
  display: flex;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}